*{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  margin: 0;
}
header,nav,footer{
  color: #fff;
  padding: 2px;
}
header,footer{
  background-color: darkgreen;
}
nav{
  background-color: forestgreen;
}
section{
  background-color: lightgreen;
  width: 33.3%;
  height: 550px;
  padding-top: 10px;
}
main{
  max-width: 100%;
  display: flex;
}
h2{
  width: 33%;
  display: inline-block;
}
table, th, td{
  border: 1px solid darkgreen;

  margin-left: auto;
  margin-right: auto;
}
table{
  width: 90%;
  border-collapse: collapse;
}
#konfigurator img{
  width: 95%;
  border-radius: 8px;
}
#konfigurator{
  overflow-y: auto;
}